/* DON'T DELETE THIS */
#flag-container {
  position:relative;
  width:100%;
  height:100%;
}

.black-column {
  background:black;
  width: 66.6%;
  height: 100%;
  float:left;
}

.grey-column {
  background:#c0c0c0;
  width: 33.33%;
  height: 100%;
  float:left;
}

.peach-horizontal-rect {
  position:relative;
  background:#ffcdbe;
  width: 33.3%;
  height: 25%;
  float:left;
  top:25%;
}

.white-vertical-rect {
  position:relative;
  background:white;
  width: 33.3%;
  height: 50%;
  float:left;
  top:50%;
}

.yellow-vertical-rect {
  position:relative;
  background:#ffe530;
  width: 33.3%;
  height: 75%;
  float:left;
  top:25%;
}

.blue-vertical-rect {
  position:relative;
  background:#006aff;
  width: 50%;
  height: 50%;
  float:left;
  top:50%;
}

.peach-vertical-rect {
  position:relative;
  background:#ffcdbe;
  width: 50%;
  height: 50%;
  float:left;
  top:50%;
}

/* ADD YOUR CSS STYLES BELOW */



/* CCS @MEDIA SCREEN 4 LATER */
@media screen and (max-width: 400px) and (min-width: 0px) {

.white-vertical-rect {
    background: black;
  }

  .blue-vertical-rect {
    display:none;
  }

.peach-vertical-rect {
    display:none;
  }

}


/* DON'T DELETE THIS */
#flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
}

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
